#mainbg {
	min-height: 1000px;
	background-image: url('images/firstimage1.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.container {
}
#top_menu button{
	width: 100px;
	background-color: rgba(255,229,204,0.5);
}
#top_menu button:hover{
	background-color: rgba(255,250,250,0.5);
}
nav#top_menu {
	height:34px;
	width: cover;
	background-color: rgba(255,229,204,0.5);
}
#title .container {
	height: 200px;
	background-color: black;
}