body {
	height:100%;
	background-image: url('images/firstimage1.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#title .container {
	height: 300px;
	width: 100%;
	background-color: white;
}

#main_menu {
	z-index:200;
	width:100%;
	text-align:center;
	}
#main_menu .container{
	background-color: black;
	min-height:3em;
	width: 100%;
	padding-right: 7%;
	padding-left: 7%;
}
#main_menu ul {
	width:100%;
	min-height:3em;
	display: inline-block;
	padding: 0;
	margin:0;
	overflow: hidden;
}
#main_menu ul li {
	line-height:1em;
	text-align:center;
	display: inline-block;
	width:18em;
	max-width: 20%;
	height: 3em;
}
#main_menu ul li ul{
position: absolute;
z-index: 100;
background-color: white;
display: list-item;
width: 30em;
height: 1em;
}
#main_menu a{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color:rgba(255,255,255,0.5);
	width:100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	margin-top:1em;
}
#main_menu a:hover{
	color:white;
	
}
hr {
 height: .25rem;
  width: 20%;
  margin: 0;
  background: white;
  border: none;
  transition: .3s ease-in-out;
  }
.menu2:hover  ~ hr {
margin-left:20%; }
.menu3:hover ~ hr {
margin-left:40%; }
.menu4:hover ~ hr {
margin-left:60%; }
.menu5:hover ~ hr {
margin-left:80%; }
ul.dropdown_content {
	display:none;
	z-index:100;
	position: relative;
	width:42px;
	min-height: 1000px;
	background-color: white;
}
ul.dropdown_content li {
	list-style-type:none;
	color:black;
	}
#main_menu ul.dropdown_content li a {
	background-color: white;
	color:black;
}
.dropdown:hover .dropdown_content{
	display: block;
	background-color: white;
}

#main_container {
background-color:rgba(255,229,204,0.8);
color:black;
padding-bottom:3em;
height:500px;
}


#right_menu  {
	margin-top:10px;
	margin-bottom: 10px;
	height: 500px;
	background-color: rgba(255,229,204,0.8);
	position:relative;
}
#socials {
	margin-bottom:1em;
	margin-left:40%;
}
#socials ul {
	list-style: none;
	list-style-type: none;
	margin:0;
	padding-left: 0;
	padding-top: 10px;
}
#socials ul li a {
	float:left;
	padding-right:10px;
	opacity:0.5;
}
#socials ul li a:hover {
	opacity:1;
}
.sticky {
	position: fixed;
	top:0;
}
	
#footer {
	position:relative;
	bottom:0;
	width:100%;
}
#footer .container {
	width:100%;
	bottom:0;
	height:3em;
	background-color:black;
}