body {
	min-height: 1000px;
	background-image: url('images/firstimage1.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#top_menu a{
	text-decoration: none;
	text-align: center;
	color:black;
	width: 100px;
	background-color: rgba(255,229,204,0.5);
}
#top_menu a:hover{
	background-color: rgba(255,250,250,0.5);
}
#top_menu .container{
	background-color: rgba(0,255,255,0.9);
}
#title .container {
	height: 200px;
	background-color: rgba(0,0,255,0.9);
}
#main_menu .container{
	background-color: rgba(0,255,255,0.9);
}
#main_menu a{
	text-decoration: none;
	text-align: center;
	color:black;
	width: 228px;
	background-color: rgba(255,229,204,0.8);
}
#main_menu a:hover{
	background-color: rgba(255,250,250,0.8);
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown_content {
	display:none;
	position: absolute;

}
.dropdown:hover .dropdown_content{
	display: block;
}
#main_page .container{
	background-color: rgba(255,229,204,0.8);
}
#mainpg  {
	height: 300px;
	background-color: rgba(255,255,255,0.8);
}
#right_menu  {
	height: 300px;
	background-color: rgba(0,229,204,0.8);
}