
a {
	text-decoration: none;
	color:white;
}
li.menu {
	background-color:red;
	
}
#about_blue {
	border:solid black 3px;
	background-color:#F0F8FF;
}
#about_yellow {
	background-color:#ffebcd;
	border: solid black 3px;
}
ul#blue{
	color:blue;
}
li.important {
	font-weight:bold;
	font-size: 16px;
}
ul#yellow {
	color:orange;
}